.card {
  background-color: $light-tint;
  margin: 1.5em 0.5em;
  padding: 2em;
  border-radius: 0.25em;
  box-shadow:
    0 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.16),
    0 0.0625em 0.1875em 0.0625em rgba(0, 0, 0, 0.32);
  transition: box-shadow $default-time-ease;

  &:hover {
    box-shadow:
      0 0.0625em 0.1875em 0.0625em rgba(0, 0, 0, 0.32),
      0 0.125em 0.5em 0.25em rgba(0, 0, 0, 0.16);
  }
}

.card > .above-the-fold {
  position: relative;

  // .paragraph {
  //   font-size: 1.5em;
  //   padding: 1em 1.5em 1em 0;
  // }
}

.card__header {
  padding: 1em 1.5em 1em 0;
}

.card__header-main {
  font-size: 1.5em;
  padding-bottom: 0.75em;
}

.card__header-sub {
  font-size: 1.35em;
}

.expander {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;

  .arrow {
    fill: $accent;
    transform: translateX(25%) rotateX(0deg);
    transition: transform $slow-time-ease;
  }
}

.card.card--open .expander .arrow {
  transform: translateX(25%) rotateX(180deg);
}
