.center-text {
  text-align: center;
}

.med-pad {
  padding: 1em 0;
}

.no-display {
  display: none;
}

.single-item {
  margin: 5em 0;
}

.faded {
  opacity: 0.5;
  transition: opacity $slow-time-ease;

  &:hover {
    opacity: 1;
  }
}
